#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: rgb(225, 198, 225);
}

.header {
  background-color: rgb(92, 147, 207);
}

.header-title{
  display:flex;
  justify-content: center;  
}

.header-nav-bar {
  background-color: rgb(50, 130, 236);
  display: flex;
  justify-content:space-evenly;
}

.header-nav-link {
  color: white;
}

.article-card {
  background-color: rgba(255, 255, 255, 0.319);
  color: rgb(92, 147, 207);
  padding: 0.5rem;
  margin: 0.5rem;
}

.article-card-top {
  display: flex;
}

.article-card-title {
  font-weight: bold;
  justify-content: left;
  padding-right: 0.5rem;
}

.article-card-time {
  padding-right: 0.5rem;
}

.article-card-vote {
display: flex;
justify-content: flex-end;
margin-left: auto; 
}

.article-card-vote-button {
height: 2%;
width: 2%;
background-color: transparent;
color: rgb(92, 147, 207) ;
}

.article-card-image {
max-width: 100%;
}

.article-card-bottom {
  display: flex;
}

.article-card-topic {
  font-weight: bold;
  padding-right: 0.5rem;
}

.article-card-author {
  padding-right: 0.5rem;
}

.view-article-button {
  height: 2%;
  display: flex;
justify-content: flex-end;
margin-left: auto; 
  background-color: rgb(50, 130, 236);
  color: white;
}

.view-article {
  background-color: rgba(255, 255, 255, 0.319);
}

.view-article-top {
  display: flex;
  background-color: rgb(92, 147, 207);
  margin-top: 0.5rem;
  padding-left: 0.5rem;
  color: #213547
}

.view-article-title {
  font-weight: bold;
  text-align: left;
  margin: 0.5rem;
}

.view-article-time {
  padding-right: 0.5rem;
}

.view-article-vote {
display: flex;
justify-content: flex-end;
margin-left: auto; 
}

.view-article-vote-button {
height: 2%;
width: 2%;
background-color: transparent;
color: #213547;
}

.view-article-image{
  width: 100%;
}

.view-article-bottom {
  display: flex;

}

.view-article-topic {
  font-weight: bold;
  padding-right: 0.5rem;
  display: flex;
}

.view-article-author {
  padding-right: 0.5rem;
  display: flex;
}

.view-article-body {
text-align: left;
margin: 0.5rem;
}

.comment-card{
  background-color: rgba(255, 255, 255, 0.493);
  margin: 0.5rem;
  border-radius: 0.25rem;
  padding: 0.5rem;
  text-align: left;
}

.comment-details{
  display: flex;
  color: rgb(92, 147, 207) ;
}

.comment-author {
  font-weight: bold;
  padding-right: 0.5rem;
}

.comment-vote{
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
 ;
}

.comment-vote-button {
  height: 2%;
width: 2%;
background-color: transparent;
color: rgb(92, 147, 207) ;
}