* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: whitesmoke;
  font-size: 0.8em;
}

.header {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  background-color: white;
  z-index: 1000; 
}

.header-logo {
  height: 90px;
}

#dropdown-basic-button {
  color: white;
  background-color: #2B2D42;
}

.topic-bar {
  padding: 0.5rem;
  padding-top: 0.95rem;
  margin-top: 100px; 
  background-color: #2B2D42;
  color: white;
  display: flex;
  gap: 10px;
  background-size: cover;
  background-position: center;
  position: sticky;
  top: 100px; 
}

.topic-bar.coding {
  background-image: url('../assets/coding-header.png');
}

.topic-bar.cooking {
  background-image: url('../assets/cooking-header.png');
}

.topic-bar.football {
  background-image: url('../assets/football-header.png');
}

.topic-bar label, .topic-bar select {
  margin: 0 10px;
  padding: 5px;
}

#sort-by, #order-by {
  border-radius: 0.35rem;
}

.article-card {
  background-color: rgba(255, 255, 255, 0.319);
  color: #2B2D42;
  margin-bottom: 0.5rem;
  padding: 1rem;
}

.article-card-top {
  display: flex;
}

.article-card-title {
  font-weight: bold;
  justify-content: left;
  padding-right: 0.5rem;
}

.article-card-time {
  padding-right: 0.5rem;
}

.article-card-vote {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}

.article-card-vote-button {
  height: 2%;
  width: 2%;
  background-color: transparent;
  color:white;
}

.article-votes {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  background-color: #2B2D42;
  margin-top: 0.5rem;
  padding-left: 0.5rem;
  color: white;
}

.article-card-image {
  max-width: 100%;
}

.article-card-bottom {
  display: flex;
}

.article-card-topic {
  font-weight: bold;
  padding-right: 0.5rem;
}

#sort-by{
  border-radius: 0.35rem;
}

#order-by{
  border-radius: 0.35rem;
}

.view-article-button {
  height: 2%;
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  background-color: #8D99AE;
  color: white;
  padding: 0.2rem;
}


.view-article {
  background-color: rgba(255, 255, 255, 0.319);
}

.view-article-top {
  display: flex;
  background-color: rgb(92, 147, 207);
  margin-top: 0.5rem;
  padding-left: 0.5rem;
  color: #213547
}

.view-article-title {
  font-weight: bold;
  text-align: left;
  margin: 0.5rem;
}

.view-article-time {
  padding-right: 0.5rem;
}

.view-article-vote {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}

.view-article-vote-button {
  height: 2%;
  width: 2%;
  background-color: transparent;
  color: white;
}

.view-article-image {
  width: 100%;
}

.view-article-bottom {
  display: flex;

}

.view-article-topic {
  font-weight: bold;
  padding-right: 0.5rem;
  display: flex;
}

.view-article-author {
  padding-right: 0.5rem;
  display: flex;
}

.view-article-body {
  text-align: left;
  margin: 0.5rem;
}

.comment-card {
  background-color: rgba(255, 255, 255, 0.493);
  margin: 0.5rem;
  border-radius: 0.25rem;
  padding: 0.5rem;
  text-align: left;
}

.comment-details {
  display: flex;
  color: rgb(92, 147, 207);
}

.comment-author {
  font-weight: bold;
  padding-right: 0.5rem;
}

.comment-vote {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  ;
}

.comment-vote-button {
  height: 2%;
  width: 2%;
  background-color: transparent;
  color: rgb(92, 147, 207);
}

.vote-button-error {
  color: white;
}