* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100%;
  margin: 0 auto;
  background-color: white;;
  font-size: 0.8em;
}

.header {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  background-color: white;
  z-index: 1000;
}

.header-logo {
  height: 90px;
  padding-top: 0.65rem;
  padding-bottom: 0.65rem;
}

.icon-images {
  height: 3rem
}

#dropdown-basic-button,
#sort-by-dropdown,
#order-by-dropdown {
  color: white;
  background-color: #2B2D42;
  border-color: purple;
}


.topic-bar {
  padding: 0.5rem;
  padding-top: 0.95rem;
  margin-top: 100px;
  background-color: #2B2D42;
  color: white;
  display: flex;
  gap: 10px;
  background-size: cover;
  background-position: center;
  position: sticky;
  top: 100px;
}

.topic-bar label,
.topic-bar select {
  margin: 0 10px;
  padding: 5px;
}

.article-card {
  background-color: rgba(0, 0, 0, 0.042);
  color: #2B2D42;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  padding: 0.55rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  text-align: left;
}

.article-card-top {
  display: flex;
  justify-content: flex-end;
  text-align: left;
  background-color: white;
}

#article-card-title {
  text-align: left;
  padding-right: 0.5rem;
  font-weight: bold;
  font-size: 0.8rem;
  flex-grow: 1;
  padding: 0.4rem;
}

.article-card-time {
  padding-right: 0.5rem;
}

.article-card-vote {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}

.article-votes {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #2B2D42;
  color: white;
  padding: 5px;
}

.article-votes:hover {
  border-color: transparent;
}

.vote-button-img {
  width: 2rem;
}

.article-card-image {
  max-width: 100%;
}

.article-card-bottom {
  display: flex;
  background-color: white;
}

.article-card-topic {
  font-weight: bold;
  padding-right: 0.4rem;
  padding-left: 0.25rem
}

.view-article-button {
  height: 2%;
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  background-color: #8D99AE;
  color: white;
  padding: 0.65rem;
}

.view-article {
  background-color: rgba(255, 255, 255, 0.319);
}

.view-article-top {
  display: flex;
  background-color: #2B2D42;
  margin-top: 6.5rem;
  padding-left: 0.5rem;
  color: white
}

.view-article-title {
  font-weight: bold;
  text-align: left;
  margin: 0.5rem;
}

.view-article-time {
  padding-right: 0.5rem;
}

.view-article-vote {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  background-color: aliceblue;
}

.view-article-vote-button {
  height: 2%;
  width: 2%;
  background-color: transparent;
  color: white;
}

.view-article-image {
  width: 100%;
}

.view-article-bottom {
  display: flex;
}

.view-article-topic {
  font-weight: bold;
  padding-right: 0.5rem;
  display: flex;
}

.view-article-author {
  padding-right: 0.5rem;
  display: flex;
}

.view-article-body {
  text-align: left;
  margin: 0.5rem;
}

.comment-card {
  background-color: rgba(255, 255, 255, 0.493);
  margin: 0.5rem;
  border-radius: 0.25rem;
  padding: 0.5rem;
  text-align: left;
}

.comment-details {
  display: flex;
  color: rgb(92, 147, 207);
}

.comment-author {
  font-weight: bold;
  padding-right: 0.5rem;
}

.comment-vote {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  ;
}

.comment-vote-button {
  height: 2%;
  width: 2%;
  background-color: transparent;
  color: rgb(92, 147, 207);
}

.vote-button-error {
  color: white;
}